.beer-img {
  height: 400px;
  grid-column: 2/3;
}

.beer-card {
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 6fr 1fr;
}

.beer-text h2 {
  color: rgba(23, 22, 22, 0.669);
  font-size: 50px;
}
.beer-text p:first-of-type {
  color: grey;
  font-size: 30px;
}

.search-box {
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 600px;
  padding: 10px;
  border: solid blue;
  border-radius: 20px;
  margin-top: 30px;
}
